Task # 01: Write a program that take two numbers & add them in a
new variable.

In [ ]:
a=input("Enter 1St number plzzz: ");
b=input("Enter 2nd number plzzz: ");
c=int(a)+int(b);
print("Sum of both number is" , c)

Enter 1St number plzzz: 6
Enter 2nd number plzzz: 7
Sum of both number is 13

Task # 02: Repeat task1 for subtraction, multiplication, division &
modulus.

In [ ]:
num1=input("Enter 1St number plzzz: ");
num2=input("Enter 2nd number plzzz: ");
add=int(num1)+int(num2);
print("Sum of both number is" , add);
sub=int(num1)-int(num2);
print("Subtraction of both number is" , sub);
mul=int(num1)*int(num2);
print("Multiplication of both number is" , mul);
div=int(num1)/int(num2);
print("Division of both number is" , div)
mod=int(num1)%int(num2);
print("Modulus of both number is" , mod)

Enter 1St number plzzz: 7
Enter 2nd number plzzz: 3
Sum of both number is 10
Subtraction of both number is 4
Multiplication of both number is 21
Division of both number is 2.3333333333333335
Modulus of both number is 1

Task # 03: Do the following Mathematic Expressions

a. Declare a variable.

b. Show the value of variable in your browser like “Value
after variable declaration is: ??”.

c. Initialize the variable with some number.

d. Show the value of variable in your browser like “Initial
value: 5”.

e. Increment the variable.

f. Show the value of variable in your browser like “Value
after increment is: 6”.

g. Add 7 to the variable.

h. Show the value of variable in your browser like “Value
after addition is: 13”.

i. Decrement the variable.

j. Show the value of variable in your browser like “Value
after decrement is: 12”.

k. Show the remainder after dividing the variable’s value
by 3.

l. Output : “The remainder is : 0”.

In [ ]:
a=5;
print("Intial Value: ",a);
a=a+1;
print("Value after increment is: ",a);
a=(a+1)+6;
print("Value after addition is: ",a);
a=a-1;
print("Value after decrement is: ",a);
print("The remainder is: ",a%3);

Intial Value:  5
Value after increment is:  6
Value after addition is:  13
Value after decrement is:  12
The remainder is:  0

Task # 04: 4. Cost of one movie ticket is 600 PKR. Write a code to
store
ticket price in a variable & calculate the cost of buying 5
tickets
to a movie.

In [ ]:
cost=600;
tickets=input("How many tickets do you want to buy? ");
total=int(tickets)*int(cost);
print("Total cost to buy ",tickets," Tickets to a Movie is ",total,"PKR.");

How many tickets do you want to buy? 5
Total cost to buy  5  Tickets to a Movie is  3000 PKR.

Task # 05: Write a script to display multiplication table of any
number in your browser

In [ ]:
table=input("Table Which You Want to See");
for i in range(1,11):
  print(table , "X" , i , "=" , int(table)*int(i));

Table Which You Want to See9
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90

Task # 06: The Temperature Converter: It’s hot out! Let’s make a
converter based on the steps here.

a. Store a Celsius temperature into a variable.

b. Convert it to Fahrenheit & output “NNoC is NNoF”.

c. Now store a Fahrenheit temperature into a variable.

d. Convert it to Celsius & output “NNoF is NNoC”.

In [ ]:
CT=25;
FT=(CT*9/5)+32;
print(CT,"C is ",FT,"F" );

FT=70;
CT=(FT-32)*5/9;
print(FT,"F is ",CT,"C" );

25 C is  77.0 F
70 F is  21.11111111111111 C

Task # 07: Write a program to implement checkout process of a
shopping cart system for an e-commerce website. Store
the following in variables

a. Price of item 1

b. Price of item 2

c. Ordered quantity of item 1

d. Ordered Quantity of item 2

e. Shipping charges

In [ ]:
price1=int(40);
price2=int(60);

print("Price of Lays: ", price1);
c=int(input("Enter the Quantity of Lays:"));
print("Price of Pepsi: ", price2);
d=int(input("Enter the Quantity of Pepsi:"));



total=price1*c+price2*d;

print("Total Cost of your Order:", total);

Price of Lays:  40
Enter the Quantity of Lays:7
Price of Pepsi:  60
Enter the Quantity of Pepsi:6
Total Cost of your Order: 640

Task # 08: Store total marks & marks obtained by a student in 2
variables. Compute the percentage & show the result.

In [ ]:
total=int(input("Total Marks: "));
obtained=int(input("Obtained Marks: "));
print("Percentage: ",obtained*100/total);

Total Marks: 850
Obtained Marks: 659
Percentage:  77.52941176470588

Task # 09: Assume we have 10 US dollars & 25 Saudi Riyals. Write a
script to convert the total currency to Pakistani Rupees.
Perform all calculations in a single expression.

(Exchange rates : 1 US Dollar = 104.80 Pakistani Rupee
and 1 Saudi Riyal = 28 Pakistani Rupee)

In [ ]:
USD=int(input("Enter the US Dollar: "));
print("Total Currency in PKR: ", USD*104.80 ,"\n \n")

SR=int(input("Enter the Saudi Riyal: "));
print("Total Currency in PKR: ", SR*28)

Enter the US Dollar: 9
Total Currency in PKR:  943.1999999999999


Enter the Saudi Riyal: 7
Total Currency in PKR:  196

Task # 10: Write a program to initialize a variable with some
number and do arithmetic in following sequence:

a. Add 5

b. Multiply by 10

c. Divide the result by 2

Perform all calculations in a single expression

In [11]:
a=int(5);
print("Total: ",(((a+5)*10)/2))

Total:  50.0

Task # 11: The Age Calculator: Forgot how old someone is?
Calculate it!

a. Store the current year in a variable.

b. Store their birth year in a variable.

c. Calculate their 2 possible ages based on the stored
values.

In [13]:
year = int(input("Enter the year of Birth: "));
now  = int(2022);
age  = now - year;
print("Current Year: " , now);
print("Birth Year: " , year)
print("You are " , age , " or " , (age - 1) , " Years Old." );

Enter the year of Birth: 2001
Current Year:  2022
Birth Year:  2001
You are  21  or  20  Years Old.

Task # 12: The Geometrizer: Calculate properties of a circle.

a. Store a radius into a variable.

b. Calculate the circumference based on the radius, and
output “The circumference is NN”.

(Hint : Circumference of a circle = 2 π r , π = 3.142)
Calculate the area based on the radius, and output “The
area is NN”. (Hint : Area of a circle = π r2, π = 3.142)

In [3]:
rad=int(20);
pi=3.142;
cir=2*pi*rad;
area=pi*rad**2;
print("The radius of circle is ",rad)
print("The circumference is ", cir)
print("The area is ",area)

The radius of circle is  20
The circumference is  125.67999999999999
The area is  1256.8

Task # 13: The Lifetime Supply Calculator: Ever wonder how
much a “lifetime supply” of your favorite snack is?
Wonder no more.

a. Store your favorite snack into a variable.

b. Store your current age into a variable.

c. Store a maximum age into a variable.

d. Store an estimated amount per day (as a number).

e. Calculate how many would you eat total for the rest of
your life.

Output the result to the screen like so: “You will need
NNNN to last you until the ripe old age of NN”.

In [9]:
print("The Life Time Supply Calculator");
snack= input("Enter your Favourite Snack: ");
age = int(input("Enter your Age: "));
maxAge = int(65);
amountOfSnack = int(input("Enter Amount of Snack Per Day: "));
totalNeeded = int(amountOfSnack * 365) * int(maxAge - age);

print("Favourite Snack: ",snack );
print("Current Age: ",age);
print("Estimated Maximum Age: ",maxAge);
print("Amount of Snack Per Day: ",amountOfSnack);
print("You will need " , totalNeeded ," " , snack , " to last you until the ripe old age of " , maxAge);

The Life Time Supply Calculator
Enter your Favourite Snack: lays
Enter your Age: 20
Enter Amount of Snack Per Day: 3
Favourite Snack:  lays
Current Age:  20
Estimated Maximum Age:  65
Amount of Snack Per Day:  3
You will need  49275   lays  to last you until the ripe old age of  65